In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error
import matplotlib.pyplot as plt
from xgboost import XGBRegressor, plot_importance
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from sklearn.feature_selection import SelectKBest, f_regression
import yfinance as yf

In [2]:
cola_stock = pd.read_csv('/Users/julius/Personal/Personal_Project/Coca_cola_Project/Analysis_of_Coca_Cola_Stock_Market/Dataset/KO_1919-09-06_2025-04-17.csv')

In [3]:
cola_stock

,date,open,high,low,close,adj_close,volume
0,1962-01-02 00:00:00-05:00,0.263021,0.270182,0.263021,0.263021,0.046041,806400
1,1962-01-03 00:00:00-05:00,0.259115,0.259115,0.253255,0.257161,0.045016,1574400
2,1962-01-04 00:00:00-05:00,0.257813,0.261068,0.257813,0.259115,0.045358,844800
3,1962-01-05 00:00:00-05:00,0.259115,0.262370,0.252604,0.253255,0.044332,1420800
4,1962-01-08 00:00:00-05:00,0.251302,0.251302,0.245768,0.250651,0.043876,2035200
...,...,...,...,...,...,...,...
15925,2025-04-10 00:00:00-04:00,70.190002,71.209999,68.980003,70.760002,70.760002,22450200
15926,2025-04-11 00:00:00-04:00,70.910004,71.849998,70.540001,71.430000,71.430000,19988200
15927,2025-04-14 00:00:00-04:00,71.300003,72.660004,70.930000,72.449997,72.449997,13930200
15928,2025-04-15 00:00:00-04:00,72.620003,72.629997,71.720001,71.860001,71.860001,14965500
15929,2025-04-16 00:00:00-04:00,72.360001,72.669998,71.389999,71.680000,71.680000,15273200